// Place all the styles related to the patients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.title {
  display: flex;
  justify-content: center;
}
.select {
  font-size: 20px;
  text-decoration: underline;
}

.list {
  text-decoration: underline;
}

.position {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.form {
  display: flex;
  justify-content: center;
}

#button {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}
